flask-cors
Keras==2.3.1
numpy==1.16.5
pymilvus==1.0.1
diskcache
flask
flask_restful
gunicorn==20.0.0
tensorflow==1.14.0
futures==3.1.1
Keras==2.3.1
uvicorn
pandas
aiofiles
paddlepaddle
python-multipart
mxnet
scikit-image
scikit-learn
opencv-python==4.2.0.32
grpcio>=1.35.0
gast
graphviz<0.9.0,>=0.8.1
pillow!=7.1.0,!=7.1.1,>=4.3.0
