numpy
pandas
dill
tqdm
python-speech-features
natsort
flask-cors
flask
flask_restful
pymilvus==0.2.13
librosa
tensorflow
keras
psycopg2-binary
mxnet
cycler
easydict
imageio
insightface
moviepy
pyopenssl