numpy
pandas
dill
tqdm
python-speech-features
natsort
flask-cors
flask
flask_restful
numba==0.49.1
librosa==0.7.2
pymilvus==0.2.11
tensorflow
keras
psycopg2-binary
mxnet
cycler
easydict
imageio
insightface
moviepy
pyopenssl
