tensorflow==1.13.0rc1
pymilvus==1.0.1
uvicorn
fastapi
numpy
pandas
psycopg2-binary
bert-serving-server
bert-serving-client
python-multipart
pandas
psycopg2-binary
bert-serving-server
bert-serving-client
sendgrid
