.gif_player img {
  width: 100%;
  overflow: hidden;
}

h3 {
  text-shadow: #000 1px 1px;
}

.play_button {
  display: none;
}

.best {
  border-color: rgb(90, 186, 231) !important;
  margin: 0 1px 1px 0;
  opacity: 1 !important;
}

.fade-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.fade-enter-active {
  transform: translateX(0);
  opacity: 1;
}

.fade-exit {
  transform: translateX(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(100%);
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity .5s, transform .5s ease-in-out;
}