.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;

  flex-shrink: 0;
  width: 100%;
  max-width: 414px;

  padding: 8px 0;

  z-index: 99;
}

.title {
  margin-right: 16px;
}

.subtitle {
  font-size: 10px;
  transform: translateY(2px);
}

@media screen and (min-height: 825px) {
  .wrapper {
    position: fixed;
    top: 972px;

    height: 55px;
  }
}
