opencv-python
Pillow==8.3.1
pymysql
fastapi
uvicorn
pandas
aiofiles
pymilvus==2.0.2
diskcache
python-multipart
pyyaml
#paddlepaddle==2.1.0
ffmpeg
matplotlib
seaborn
torchvision==0.10.0
torch==1.9.0
towhee==0.6.0
