name: Workflow for Black

on: [push, pull_request]

jobs:
  Black-Check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: psf/black@stable
        with:
          options: "--check --diff --verbose"
          src: "./bootcamp/tutorials"
          jupyter: true