name: DCO Check

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  dco-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: christophebedard/dco-check@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
